body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa; 
    color: #333; 
    max-width: 1200px; /* Maksymalna szerokość strony */
    margin: 0 auto; /* Wyśrodkowanie strony */
    padding: 10px; /* Opcjonalne marginesy wewnętrzne */
}

header {
    background-color: #ffffff; 
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; 
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #666; /* Ciemniejszy kolor przy najechaniu kursorem */
}

main {
    margin-top: 80px; /* Pamiętaj o przesunięciu treści pod nagłówkiem */
    padding: 20px;
}

.section {
    margin-bottom: 40px; /* Margines między sekcjami */
}

.gallery-container {
    display: flex;
    justify-content: center; /* Wyśrodkowanie galerii */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 elementów w rzędzie przy maksymalnej szerokości */
    gap: 20px;
}

.gallery-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.gallery-item:hover img {
    transform: scale(1.05);
}

.gallery-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-info {
    padding: 1rem;
    text-align: center;
}

.gallery-info h3 {
    margin: 0;
    color: #333;
}

.gallery-info p {
    margin-top: 0.5rem;
    color: #666;
}

footer {
    background-color: #ffffff;
    color: #666;
    text-align: center;
    padding: 1rem 0;
    margin-top: 40px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Cień pod stopką */
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr); /* 4 elementy w rzędzie przy szerokości <= 1200px */
    }
}

@media (max-width: 992px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr); /* 3 elementy w rzędzie przy szerokości <= 992px */
    }
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 elementy w rzędzie przy szerokości <= 768px */
    }
}

@media (max-width: 576px) {
    .gallery {
        grid-template-columns: 1fr; /* 1 element w rzędzie przy szerokości <= 576px */
    }
}
